In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
df = pd.read_csv('./Net_generation_for_all_sectors.csv', skiprows=4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 96 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  22 non-null     object
 1   units        20 non-null     object
 2   source key   21 non-null     object
 3   Jan 2018     19 non-null     float64
 4   Feb 2018     19 non-null     float64
 5   Mar 2018     19 non-null     float64
 6   Apr 2018     19 non-null     float64
 7   May 2018     19 non-null     float64
 8   Jun 2018     19 non-null     float64
 9   Jul 2018     19 non-null     float64
 10  Aug 2018     19 non-null     float64
 11  Sep 2018     19 non-null     float64
 12  Oct 2018     19 non-null     float64
 13  Nov 2018     19 non-null     float64
 14  Dec 2018     19 non-null     float64
 15  Jan 2019     19 non-null     float64
 16  Feb 2019     19 non-null     float64
 17  Mar 2019     19 non-null     float64
 18  Apr 2019     19 non-null     float64
 19  May 2019     19 non-null     float64
 20  Jun 2019     19 non-null     float64
 21  Jul 2019     19 non-null     float64
 22  Aug 2019     19 non-null     float64
 23  Sep 2019     19 non-null     float64
 24  Oct 2019     19 non-null     float64
 25  Nov 2019     19 non-null     float64
 26  Dec 2019     19 non-null     float64
 27  Jan 2020     19 non-null     float64
 28  Feb 2020     19 non-null     float64
 29  Mar 2020     19 non-null     float64
 30  Apr 2020     19 non-null     float64
 31  May 2020     19 non-null     float64
 32  Jun 2020     19 non-null     float64
 33  Jul 2020     19 non-null     float64
 34  Aug 2020     19 non-null     float64
 35  Sep 2020     19 non-null     float64
 36  Oct 2020     19 non-null     float64
 37  Nov 2020     19 non-null     float64
 38  Dec 2020     19 non-null     float64
 39  Jan 2021     19 non-null     float64
 40  Feb 2021     19 non-null     float64
 41  Mar 2021     19 non-null     float64
 42  Apr 2021     19 non-null     float64
 43  May 2021     19 non-null     float64
 44  Jun 2021     19 non-null     float64
 45  Jul 2021     19 non-null     float64
 46  Aug 2021     19 non-null     float64
 47  Sep 2021     19 non-null     float64
 48  Oct 2021     19 non-null     float64
 49  Nov 2021     19 non-null     float64
 50  Dec 2021     19 non-null     float64
 51  Jan 2022     19 non-null     float64
 52  Feb 2022     19 non-null     float64
 53  Mar 2022     19 non-null     float64
 54  Apr 2022     19 non-null     float64
 55  May 2022     19 non-null     float64
 56  Jun 2022     19 non-null     float64
 57  Jul 2022     19 non-null     float64
 58  Aug 2022     19 non-null     float64
 59  Sep 2022     19 non-null     float64
 60  Oct 2022     19 non-null     float64
 61  Nov 2022     19 non-null     float64
 62  Dec 2022     19 non-null     float64
 63  Jan 2023     19 non-null     float64
 64  Feb 2023     19 non-null     float64
 65  Mar 2023     19 non-null     float64
 66  Apr 2023     19 non-null     float64
 67  May 2023     19 non-null     float64
 68  Jun 2023     19 non-null     float64
 69  Jul 2023     19 non-null     float64
 70  Aug 2023     19 non-null     float64
 71  Sep 2023     19 non-null     float64
 72  Oct 2023     19 non-null     float64
 73  Nov 2023     19 non-null     float64
 74  Dec 2023     19 non-null     float64
 75  Jan 2024     19 non-null     float64
 76  Feb 2024     19 non-null     float64
 77  Mar 2024     19 non-null     float64
 78  Apr 2024     19 non-null     float64
 79  May 2024     19 non-null     float64
 80  Jun 2024     19 non-null     float64
 81  Jul 2024     19 non-null     float64
 82  Aug 2024     19 non-null     float64
 83  Sep 2024     19 non-null     float64
 84  Oct 2024     19 non-null     float64
 85  Nov 2024     19 non-null     float64
 86  Dec 2024     19 non-null     float64
 87  Jan 2025     19 non-null     float64
 88  Feb 2025     19 non-null     float64
 89  Mar 2025     19 non-null     float64
 90  Apr 2025     19 non-null     float64
 91  May 2025     19 non-null     float64
 92  Jun 2025     19 non-null     float64
 93  Jul 2025     19 non-null     float64
 94  Aug 2025     19 non-null     float64
 95  Sep 2025     19 non-null     float64
dtypes: float64(93), object(3)
memory usage: 16.6+ KB

In [5]:
df.head()

,description,units,source key,Jan 2018,Feb 2018,Mar 2018,Apr 2018,May 2018,Jun 2018,Jul 2018,...,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025,May 2025,Jun 2025,Jul 2025,Aug 2025,Sep 2025
0,Net generation for all sectors,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,NaN,ELEC.GEN..M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : all fuels (utility-scale),thousand megawatthours,ELEC.GEN.ALL-US-99.M,373379.0,307058.0,321765.0,301057.0,339228.0,372145.0,411617.0,...,361292.0,402368.0,338379.0,333731.0,320412.0,343861.0,392998.0,446057.0,419759.0,368147.0
3,United States : coal,thousand megawatthours,ELEC.GEN.COW-US-99.M,119284.0,82050.0,80626.0,73346.0,85227.0,101503.0,115376.0,...,62800.0,83153.0,62306.0,49215.0,45526.0,48778.0,64502.0,80260.0,69728.0,58427.0
4,United States : petroleum liquids,thousand megawatthours,ELEC.GEN.PEL-US-99.M,5555.0,804.0,830.0,872.0,1040.0,1066.0,988.0,...,1224.0,2751.0,1182.0,857.0,856.0,764.0,1115.0,1107.0,1018.0,918.0